body {
  max-width: --board-width 1000px !important;
  margin: auto;
}

.icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
}

.one {
  background-image: url(/images/die1.svg);
}

.two {
  background-image: url(/images/die2.svg);
}

.three {
  background-image: url(/images/die3.svg);
}

.four {
  background-image: url(/images/die4.svg);
}

.five {
  background-image: url(/images/die5.svg);
}

.six {
  background-image: url(/images/die6.svg);
}

.intro-container {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.btn-select-players {
  height: 60px;
  position: absolute;
  left: 125px;
}

.game-board {
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: --board-width;
}

.dashboard {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: --board-width;
  border: 1px dotted green;
  padding: 20px;
}

.players {
  display: flex;
  justify-content: space-between;
}

.dice-container {
  min-width: 145px;
}

.btn-new-game {
  margin-top: 10px;
}

.token {
  cursor: move;
  height: 50px;
  position: absolute;
}

.turn {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.red {
  fill: red;
}
.blue {
  fill: blue;
}
.green {
  fill: green;
}
.black {
  fill: black;
}
.purple {
  fill: purple;
}
.orange {
  fill: orange;
}
.chocolate {
  fill: chocolate;
}
.darkgrey {
  fill: darkgrey;
}
.lawngreen {
  fill: lawngreen;
}
.magenta {
  fill: magenta;
}

.mediumslateblue {
  fill: mediumslateblue;
}

.mediumspringgreen {
  fill: mediumspringgreen;
}

.navy {
  fill: navy;
}

.orangered {
  fill: orangered;
}

.peru {
  fill: peru;
}

.yellow {
  fill: yellow;
}

@media only screen and (min-width: 700px) {
  .btn-select-players {
    left: 800px;
  }
}

.roll-1 {
  position: relative;
  animation-name: roll-dice-1;
  animation-duration: 1.5s;
} 

.roll-2 {
  position: relative;
  animation-name: roll-dice-2;
  animation-duration: 1.8s;
}

@keyframes roll-dice-1 {
  0%   {  bottom:0px; transform: rotateX(60deg); background-color: blue;}
  20%  {  bottom:50px; transform: rotateY(60deg); background-color: yellow; }
  30%  {  bottom:70px; transform: rotateX(120deg); background-color: red; }
  40%  {  bottom:80px; transform: rotateY(120deg); background-color: aqua; }
  50%  {  bottom:100px; transform: rotateX(240deg); background-color: purple; } 
  60%  {  bottom:150px; transform: rotateY(240deg); background-color: chartreuse;}
  70%  {  bottom:120px; transform: rotateX(120deg); background-color: antiquewhite;}
  80%  {  bottom:80px; transform: rotateY(360deg); background-color: lightcoral;}
  90%  {  bottom:0px; transform: rotateX(0deg); background-color: green;}
}

@keyframes roll-dice-2 {
  0%   {  bottom:0px; transform: rotateX(60deg); background-color: aqua;}
  20%  {  bottom:50px; transform: rotateY(60deg); background-color: lightcoral; }
  30%  {  bottom:70px; transform: rotateX(120deg); background-color: purple; }
  40%  {  bottom:80px; transform: rotateY(120deg); background-color: red; }
  50%  {  bottom:100px; transform: rotateX(240deg); background-color: yellow; } 
  60%  {  bottom:150px; transform: rotateY(240deg); background-color: green;}
  70%  {  bottom:120px; transform: rotateX(120deg); background-color: orange;}
  80%  {  bottom:80px; transform: rotateY(360deg); background-color: silver;}
  90%  {  bottom:0px; transform: rotateX(0deg); background-color: blue;}
}


